@model IEnumerable<newSiteMVC.Models.tbl_UserControl>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("~/Views/Home/Shared/_PopUpBanner.cshtml", Model)

<div id="intro" class="top-banner-attachment" style="background-image: url(@Model.FirstOrDefault(it => it.TypeId == "BackgroundImage").ImageUrl)">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="intro-text">
                        <img src="/Img/ICC_logo_flat_white.png" style="max-width: 300px; width: 100%; margin-top:30px"/>      
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<%--------------------- Carousel ---------------------%>*@

@Html.Partial("~/Views/Home/Shared/_HomePageCarousel.cshtml", Model)

@*<%--------------------- Moving Image Background ---------------------%>*@

@Html.Partial("~/Views/Pages/Shared/_MovingBackgroundImage.cshtml", @Model.First(it => it.TypeId == "BackgroundImage"))

@*<%--------------------- Imagepod section ---------------------%>*@

@Html.Partial("~/Views/Home/Shared/_OurProductsSection.cshtml", Model)

@*<%--------------------- About ICC section ---------------------%>*@

@Html.Partial("~/Views/Home/Shared/_AboutUsSection.cshtml", Model)

